# Global
* @TerryKKday @DylanKKday @lancekkday @Copilot

# Payment/Risk
**/Risk/**    @willwangkkday @k-ivansu @maggiekkday
**/Payment/** @willwangkkday @k-ivansu @maggiekkday

# kkday app
**/kkday/app/** @EdennnLai @ingridchen1
**/KKdayApp/** @EdennnLai @ingridchen1

# Order
**/test_steps/api/order/** @qairislee @ModaHuang @rd-qa-lynn
**/api/OrderAPI/** @qairislee @ModaHuang @rd-qa-lynn
**/data/case_data/**/*Order*/** @qairislee @ModaHuang @rd-qa-lynn

# SCM
**/scm/** @PollyHsieh1105 @k-ivansu @zoeyylin
**/Scm/** @PollyHsieh1105 @k-ivansu @zoeyylin

# Product
**/Product/** @DylanKKday @wenyakkday @owenyekkday @mia-chang013
**/product/** @DylanKKday @wenyakkday @owenyekkday @mia-chang013
